.navbar {
    
}
.app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.flowers-photo {
    width: 60%;
    max-width: 500px;
    border: 1px solid black;
}
.about {
    padding: 1px;
}

.body-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #c1cd379f;
    padding: 50px;
    
}
/* .fill-center {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0px 10rem;
    padding: 10px 0px;
} */
.about-fill {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    padding: 75px 50px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: 50px;
    max-width: 1400px;   
}
.about-fill::after {
    content: "";
    background-color: #3d7340;
    background-image: url(../assets/banner1.png);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  .about-fill:hover::after {
    top: 0px;
    left: 0px;
  }
  .tech-fill {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    padding: 75px 50px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: 50px;
    max-width: 1400px;
}
.tech-fill::after {
    content: "";
    background-color: #3d7340;
    background-image: url(../assets/banner2.png);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  .tech-fill:hover::after {
    top: 0px;
    left: 0px;
  }

.fill {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    padding: 75px 50px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: 50px;
    max-width: 1400px;
}
.fill::after {
    content: "";
    background-color: #3d7340;
    background-image: url(../assets/banner.png);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }
  .contact-fill {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    padding: 75px 50px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: 50px;
    max-width: 1400px;
}

.contact-fill::after {
    content: "";
    background-color: #3d7340;
    background-image: url(../assets/laptop.png);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  .contact-fill:hover::after {
    top: 0px;
    left: 0px;
  }
.contact-cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    color: white;
    background-color: #3d7340bc;
    background-repeat: no-repeat;
    padding: 20px 0px;
}
.card-div {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-width: 171px;
}
.contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-img{
    display: flex;
    justify-content: center;
    margin: 0px 10px
}
.link-text {
    text-decoration: none;
    color: white;
}
.link-text:hover {
    color: #3d7340bc;
    font-weight: bold;
    text-shadow: 1px 1px 10px white;
}
.body-tech {
    background-color: white;
    padding: 75px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.tech-img {
    max-height: 75px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.body-projects {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project-card {
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    max-width: 300px; 
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c1cd375a;
}
.card-img {
    border: 1px solid black;
    margin: 0px 0px 10px 0px;
}
.modal-button{
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .modal-button:hover{
      color:black;
      border: 1px solid black;
      letter-spacing: 2px;
  }
  .innermodal-button{
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .innermodal-button:hover{
      color:black;
      border: 1px solid black;
      background-color: #c1cd375a;
  }